ul  {
    list-style: none;
}

div.timer {
    display: none;
    font-weight: bold;
}

.feedback {
    display: block;
    height: 50px;
    margin:1em 0 1em 0;
}

.correct-answer, .incorrect-answer, .scoreboard-pg, .quiz-results, ul#answer-choices {
    display: none;
}

.quiz-content {
    margin-left: 4em;
}

#answer-choices {
    padding-left: 0;
}

.correct-answer, .incorrect-answer {
    margin-left: -20px !important;
}

#initials {
    padding:5px;
    margin-bottom: 20px;
}

.board {
    margin:auto;
    margin-top: 40px;
}