ul  {
    list-style: none;
}

p {
    font-size:1.2em;
}

/* QUIZ CONTENT */  

.title {
    margin-top: 3em !important;
    margin-bottom: 1em !important;
}

#question {
    display: block;
    position: relative;
    top:-30px;
}

div.timer {
    display: none;
    font-weight: bold;
    font-size:1.5em;
}

.feedback {
    display: block;
    height: 50px;
    margin-top:10px;
    position:relative;
    top:-35px;
    text-align:center;
}

.correct-answer, .incorrect-answer, .quiz-results, ul#answer-choices {
    display: none;
}

.quiz-content {
    margin-left: 4em;
}

#answer-choices {
    padding-left: 0;
}

.correct-answer, .incorrect-answer {
    margin-left: -20px !important;
}

/* SCOREBOARD */    

#initials {
    padding:5px;
    margin-bottom: 20px;
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.board {
    margin:auto;
    margin-top: 40px;
}

.scoreboard-pg {
    display: none;
    position: relative;
    top: -150px;
}